<!-- <nav class="navbar navbar-default navbar-inverse navbar-pf header" role="navigation">
  <div class="collapse navbar-collapse ">
    <ul class="nav navbar-nav navbar-right navbar-primary">
      <li class="divider"></li>
      <li>
        <a *ngIf="loggedInUser" (click)="handleLogoutClick();" class="pointer">
          Log Out
        </a>
      </li>
    </ul>
    </div> -->
<!--Header started-->
<!-- <div class="header pf-c-page__header"> -->
    <!-- <div class="pf-c-page__header-brand">
      <div class="pf-c-page__header-brand-toggle">
        <button class="pf-c-button">
          <i class="fas fa-bell"></i>
        </button>
      </div>
      <a class="pf-c-page__header-brand-link">
        <img class="pf-c-brand" src="../../../assets/img/l_pf-reverse-164x11.png" alt="Patternfly Logo">
      </a>
    </div> -->
    <!-- <div class="pf-c-page__header-tools">
                Logout
              </button>
      <img class="pf-c-avatar" src="../../../assets/img/img_avatar.svg" alt="Avatar Image">
    </div>
  </div> -->
<!--Header Ends-->
<!-- <div class="pf-c-page__sidebar">
    <nav class="pf-c-nav">
      <ul class="pf-c-nav__list">
        <li class="pf-c-nav__item">
          <a href="#" class="pf-c-nav__link pf-m-current">
            Search
          </a>
        </li>
        <li class="pf-c-nav__item">
          <a href="#" class="pf-c-nav__link">
            Audit Log
          </a>
        </li>
      </ul>
    </nav>
  </div> -->