<div id="search-bar">
  <input
  #searchBar
    type="text"
    placeholder="Search"
    (keyup.enter)="onSearch(searchBar.value)"
    class="form-control Search"
    />
</div>
<!-- <form role="form" class="search-pf has-button Search">
  <div class="form-group has-clear">
    <div class="search-pf-input-group">
      <input #searchBar type="text" (keyup.enter)="onSearch(searchBar.value)" class="form-control" placeholder="Search"/>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
  </div>
</form> -->
