
<div class="pf-c-page pf-c-background-image" id="page-layout-default-nav">
  <header role="banner" class="pf-c-page__header">
    <div >
      <div class="pf-c-page__header-brand-toggle">
        <button class="pf-c-button" id="page-layout-default-nav-nav-toggle" aria-label="Toggle primary navigation">
          <i class="fas fa-bell"></i>
        </button>
      </div>
      <a class="">
        <img class="pf-c-brand" src="../../../assets/img/l_pf-reverse-164x11.png" alt="Patternfly Logo">
      </a>
    </div>
    <div class="pf-c-page__header-tools">
      <div class="pf-c-page__header-tools-group">
        <div class="pf-m-user">
          <div class="pf-c-dropdown">
            <button id="page-layout-default-nav-dropdown-button" class="pf-c-dropdown__toggle pf-m-plain">
              Logout
            </button>
          </div>
        </div>
      </div>
      <img class="pf-c-avatar" src="../../../assets/img/img_avatar.svg" alt="Avatar Image">
    </div>
  </header>
  <div class="pf-c-page__sidebar">
    <nav class="pf-c-nav" id="page-layout-default-nav-primary-nav">
      <ul class="pf-c-nav__list">
        <li class="pf-c-nav__item">
          <a href="#" class="pf-c-nav__link pf-m-current" aria-current="page">
            Search
          </a>
        </li>
        <li class="pf-c-nav__item">
          <a href="#" class="pf-c-nav__link">
            Audit Log
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <main role="main" class="pf-c-page__main">
    <section class="pf-c-page__main-section">
      Search Bar here
      <!-- <div class="pf-l-gallery pf-m-gutter">
      </div> -->
    </section>
  </main>
</div>