<div class="pf-c-background-image">
</div>
<div class="pf-c-page" id="page-layout-default-nav">
  <div class="pf-c-page__sidebar">
    <nav class="pf-c-nav" id="page-layout-default-nav-primary-nav" aria-label="Primary Nav Default Example">
      <ul class="pf-c-nav__list">
        <li class="pf-c-nav__item">
          <a href="#" class="pf-c-nav__link pf-m-current">
            Search
          </a>
        </li>
        <li class="pf-c-nav__item">
          <a href="#" class="pf-c-nav__link">
            Audit Log
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <main role="main" class="pf-c-page__main">
    <section class="pf-c-page__main-section pf-m-light">
      <div class="pf-c-content">
        <h1>Main Title</h1>
        <p>
          Body text should be Overpass Regular at 16px. It should have leading of 24px because
          <br> of it’s relative line height of 1.5.
        </p>
      </div>
    </section>
    <section class="pf-c-page__main-section">
      <div class="pf-l-gallery pf-m-gutter">
        <div class="pf-l-gallery__item">
          <div class="pf-c-card">
            <div class="pf-c-card__body">
              This is a card
            </div>
          </div>
        </div>
        <div class="pf-l-gallery__item">
          <div class="pf-c-card">
            <div class="pf-c-card__body">
              This is a card
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>