<!-- <p>
  demo works!
</p> -->
<div class="pf-c-background-image">
</div>
<div class="pf-c-page" id="page-layout-default-nav">
  <header role="banner" class="pf-c-page__header">
    <div class="pf-c-page__header-brand">
      <div class="pf-c-page__header-brand-toggle">
        <button class="pf-c-button pf-m-plain" id="page-layout-default-nav-nav-toggle" aria-label="Toggle primary navigation"  ng-click="myvalue=true">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <a class="pf-c-page__header-brand-link">
        <img class="pf-c-brand" src="/assets/images/l_pf-reverse-164x11.png" alt="Patternfly Logo">
      </a>
    </div>
    <div class="pf-c-page__header-tools">
      <div class="pf-l-toolbar">
        <div class="pf-l-toolbar__group pf-m-icons pf-screen-reader">
          <div class="pf-l-toolbar__item">
            <button class="pf-c-button pf-m-plain" aria-label="Notifications">
              <i class="fas fa-bell"></i>
            </button>
          </div>
          <div class="pf-l-toolbar__item">
            <button class="pf-c-button pf-m-plain" aria-label="Settings">
              <i class="fas fa-cog"></i>
            </button>
          </div>
        </div>
        <div class="pf-l-toolbar__group">
          <div class="pf-l-toolbar__item pf-m-mobile">
            <button class="pf-c-button pf-m-plain" aria-label="Overflow actions">
              <i class="fas fa-ellipsis-v"></i>
            </button>
          </div>
          <div class="pf-l-toolbar__item pf-m-user pf-screen-reader">
            <div class="pf-c-dropdown">
              <button id="page-layout-default-nav-dropdown-button" class="pf-c-dropdown__toggle pf-m-plain" aria-expanded="false">
                <span class="pf-c-dropdown__toggle-text">
                            Kyle Baker
                </span>
                <i class="fas fa-caret-down pf-c-dropdown__toggle-icon"></i>
              </button>
              <div class="pf-c-dropdown__menu" hidden>
                Kyle Baker
              </div>
            </div>
          </div>
        </div>
      </div>
      <img class="pf-c-avatar" src="/assets/images/img_avatar.svg" alt="Avatar Image">
    </div>
  </header>
  <div class="pf-c-page__sidebar">
    <nav class="pf-c-nav" id="page-layout-default-nav-primary-nav" aria-label="Primary Nav Default Example">
      <ul class="pf-c-nav__list">
        <li class="pf-c-nav__item">
          <a href="#" class="pf-c-nav__link pf-m-current">
            Search
          </a>
        </li>
        <li class="pf-c-nav__item">
          <a href="#" class="pf-c-nav__link">
            Audit Log
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <main role="main" class="pf-c-page__main">
    <section class="pf-c-page__main-section pf-m-light">
      <div class="pf-c-content">
        <h1>Main Title</h1>
        <p>
          Body text should be Overpass Regular at 16px. It should have leading of 24px because
          <br> of it’s relative line height of 1.5.
        </p>
      </div>
    </section>
    <section class="pf-c-page__main-section">
      <div class="pf-l-gallery pf-m-gutter">
        <div class="pf-l-gallery__item">
          <div class="pf-c-card">
            <div class="pf-c-card__body">
              This is a card
            </div>
          </div>
        </div>
        <div class="pf-l-gallery__item">
          <div class="pf-c-card">
            <div class="pf-c-card__body">
              This is a card
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>