<app-pfn-toolbar  *ngIf="users?.length > 0;" (filterData)="filterUser($event)" (sortData)="sortUser()"></app-pfn-toolbar>
<div *ngIf="filterCount > 0; else noResults">
    <div class="pf-c-badge pf-m-unread">{{filterCount}} Results Found </div>
    <a href="javascript:void(0)" (click)="clearFilter()" *ngIf="filterCount > 0; else noUserFiltered">Clear All</a>
</div>
<ng-template #noResults>
  <div *ngIf="noUser === 0">
      <div class="pf-c-badge pf-m-unread">{{filterCount}} Results Found </div>
      <a href="javascript:void(0)" (click)="clearFilter()">Clear All</a>
  </div>
</ng-template>
<!-- Table Starts -->
<table class="pf-c-table pf-m-grid-lg" *ngIf="users?.length > 0">
  <thead>
    <tr>
      <th scope="col">
          Avatar
      </th>
      <th class="pf-c-table__sort">
          <button class="pf-c-button pf-m-plain"  (click)="sortUser('fullName')">
            Name
            <span class="pf-c-table__sort-indicator">
                    <i class="fas" [ngClass]="{'fa-sort-alpha-down': ascending, 'fa-sort-alpha-up':!ascending}"></i>
                </span>
          </button>
        </th>
        <th class="pf-c-table__sort">
            <button class="pf-c-button pf-m-plain" (click)="sortUser('email')">
              Email
              <span class="pf-c-table__sort-indicator">
                <i class="fas" [ngClass]="{'fa-sort-alpha-down': ascending, 'fa-sort-alpha-up':!ascending}"></i>
                  </span>
            </button>
          </th>
          <th class="pf-c-table__sort">
              <button class="pf-c-button pf-m-plain">
                UserName
              </button>
            </th>
    </tr>
  </thead>
  <tbody *ngFor="let item of items; let toggle = true;">
    <tr>
      <span>
          <button class="pf-c-button pf-m-plain" id="expandable-toggle1" (click)="toggle = !toggle" >
              <i class="fas" [ngClass]="{ 'fa-angle-up': toggle, 'fa-angle-down': !toggle }"></i>
            </button>        
      <td data-label="Avatar">
          <div *ngIf="(item.attributes.imageURL !== undefined && item.attributes.imageURL.length !== 0); then userImage else defaultImage"></div>
          <ng-template #userImage>
            <img src="{{item.attributes.imageURL}}" class="img-responsive icon-user">
          </ng-template>
          <ng-template #defaultImage>
            <img src="../../../../assets/img/profile-user.png" class="img-responsive icon-user">
          </ng-template>
      </td>
            </span>
      <td data-label="FullName">
        {{item.attributes.fullName}}
      </td>
      <td data-label="Email">
        {{item.attributes.email}}
      </td>
      <td data-label="UserName">
        {{item.attributes.username}}
      </td>
    </tr>
      <tr class="pf-c-table__expandable-row"  [ngClass]="{ 'pf-m-expanded': toggle }">
          <td colspan="3">
            <div class="pf-c-table__expandable-row-content">
              <li>
              <strong>Bio: </strong>
              <span *ngIf="item.attributes.bio; else noBio"> {{item.attributes.bio}}</span>
                <ng-template #noBio>No Bio found.</ng-template>
                </li>
                <li>
                    <strong>Company: </strong>
                      <span  *ngIf="item.attributes.company; else noCompany" > {{item.attributes.company}}</span>
                      <ng-template #noCompany>No Company found.</ng-template>
                      </li>
                      <li>
                          <strong>Company: </strong>
                            <span *ngIf="item.attributes.userID; else noID"> {{item.attributes.userID}}</span>
                            <ng-template #noID>No ID found.</ng-template>
                            </li>
            </div>
          </td>
        </tr>
  </tbody>
</table>
<!-- Table ENds -->