<div *ngIf = "users">
  <div *ngIf = "users.length; else noUser">
  <div *ngFor="let user of users">
    <h3>{{ user.attributes.fullName }}</h3>
    <h4>{{ user.attributes.email }}</h4>
  </div>
</div>
</div>

<ng-template #noUser>
  <h3>User not found !</h3>
</ng-template>

<br>
<br>
<!--toolbar starts
<div class="container-fluid" *ngIf="users">
  <div *ngIf = "users.length">
  <div class="row toolbar-pf">
     <div class="col-sm-12">
        <form class="toolbar-pf-actions" data-dpmaxz-eid="1">
         
           <div class="form-group">
              <button class="btn btn-link" type="button" (click)="sort('fullName','desc')">
              <span class="fa fa-sort-alpha-desc"></span>
              </button>
              <button class="btn btn-link" type="button" (click)="sort('fullName','asc')">
              <span class="fa fa-sort-alpha-asc"></span>
              </button>
           </div>
           <div class="form-group">
              <button class="btn btn-default" type="button" (click)="sort('email','asc')">Sort By Mail (ascending)</button>
           </div>
           <div class="form-group">
              <button class="btn btn-default" type="button" (click)="sort('email','desc')">Sort By Mail (descending)</button>
           </div>
           <div class="toolbar-pf-action-right">
              <div class="form-group toolbar-pf-find">
                 <div class="find-pf-dropdown-container">
                    <input #find  type="text" class="form-control" id="find" placeholder="Find By Keyword..."  (keyup.enter)="filterUser(find.value)">
                 </div>
              </div>
           </div>
        </form>
     </div>
  </div>
  </div>
</div>
  toolbar ends-->

<!-- Expansion starts 
<div class="padding-15" *ngIf="users">
  <div *ngIf = "users.length">
  <div class="row">
     <div class="col-sm-12">
        <div class="form-group">
           <pfng-list   
           [config]="listConfig"
           [expandTemplate]="expandTemplate"
           [users]="users"
           [itemTemplate]="itemTemplate">
           <ng-template #itemTemplate let-user="user">
              <div class="list-pf-left">
                 <span class="fa list-pf-icon list-pf-icon-bordered list-pf-icon-small"><img src="{{user.attributes.imageURL}}" style="width:50px;border-radius:50px;"></span>
              </div>
              <div class="list-pf-content-wrapper">
                 <div class="list-pf-main-content">
                  
                    <div class="list-pf-title">{{user.attributes.fullName}}</div> 
                    <div class="list-pf-description text-overflow-pf">{{user.attributes.username}}</div>
                    <div class="list-pf-description text-overflow-pf">{{user.attributes.email}}</div>
                    

                 </div>
              </div>
           </ng-template>
           <ng-template #expandTemplate let-user="user" let-index="index">
             <li style="font-size:30px;"><span><strong>Company:</strong> {{user.attributes.company}}</span></li>
              <li  style="font-size:30px;"><strong>Bio:</strong><span *ngIf="user.attributes.bio;else noBio "> {{user.attributes.bio}}</span></li>
              <li  style="font-size:30px;"><span><strong>UserID:</strong> {{user.attributes.UserID}}</span></li>
              <li  style="font-size:30px;"><strong>Url:</strong><span *ngIf="user.attributes.url;else noUrl ">{{user.attributes.url}}</span></li>
           </ng-template>
           </pfng-list>
        </div>
     </div>
  </div>
  </div>
</div>
 Expansion Ends-->
<!-- 
<ng-template #noBio>
  No Bio found.
</ng-template>

<ng-template #noUrl>
  No Url Found
</ng-template> -->