<p>
  profile works!
</p>
<!--filter starts-->
<div class="padding-15">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <pfng-filter [config]="filterConfig"
                       (onChange)="filterChanged($event)"></pfng-filter>
        </div>
      </div>
    <div class="row">
      <div class="col-sm-12">
        <div *ngFor="let item of items" class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <span>{{item.name}}</span>
            </div>
            <div class="col-sm-5">
              <span>{{item.address}}</span>
            </div>
            <div class="col-sm-2">
              <span>{{item.birthMonth}}</span>
            </div>
            <div class="col-sm-2">
              <span>{{item.weekDay}}</span>
            </div>
            <div class="col-sm-2">
                <span>{{item.fullName}}</span>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--Filter Ends-->